<ion-header>
  <ion-navbar color='orangeYel'>
    <ion-title>My Classmate</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
        <text-avatar-profile *ngIf="userProfile?.firstName" [text]="userProfile?.firstName" [color]="userProfile?.firstName.color"></text-avatar-profile>
    -->


  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p ion-text color="viewClassmate">Name</p>
          </ion-col>
          <ion-col >
            {{firstName}} {{lastName}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>
    
    <ion-list>
    <ion-list-header>
      Social Media
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p ion-text color="instagram"><ion-icon name="logo-instagram"></ion-icon>  Instagram</p>
          </ion-col>
          <ion-col >
            {{instagram}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

        <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p ion-text color="snapchat"><ion-icon name="logo-snapchat"></ion-icon>  Snapchat</p>
          </ion-col>
          <ion-col >
            {{snapchat}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
        
        <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p ion-text color="twitter"><ion-icon name="logo-twitter"></ion-icon>  Twitter</p>
          </ion-col>
          <ion-col >
            {{twitter}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
    
    
  <ion-list>

    <ion-list-header>
      Shared Classes
    </ion-list-header>

    <ion-item *ngFor="let classShared of classesShared">
        <text-avatar [text]="classShared.periodNumber" item-left></text-avatar>
        <h3>{{classShared.teacherName.replace('_',' ')}}</h3>

    </ion-item>


  </ion-list>



</ion-content>
