<!--
  Generated template for the List page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>
      Teachers
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-searchbar [(ngModel)]="searchTerm" [formControl]="searchControl" (ionInput)="onSearchInput()"></ion-searchbar>

  <div *ngIf="searching" class="spinner-container">
    <ion-spinner name="dots"></ion-spinner>
  </div>

  <ion-list>
    <ion-item *ngFor="let teacher of teachers" (click)="consolePrint(teacher.title)">
      {{teacher.title}}
    </ion-item>

  </ion-list>

</ion-content>
