<ion-header>
  <ion-navbar color='orangeYel'>
    <ion-title>Settings</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="editPressed()">
        edit
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <!--
        <text-avatar-profile *ngIf="userProfile?.firstName" [text]="userProfile?.firstName" [color]="userProfile?.firstName.color"></text-avatar-profile>
    -->


  <ion-list>
    <ion-list-header>
      Personal Information
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p color="orangeYel">Name</p>
          </ion-col>
          <ion-col *ngIf="userProfile?.firstName || userProfile?.lastName">
            {{userProfile?.firstName}} {{userProfile?.lastName}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p color="orangeYel">Grade Level</p>
          </ion-col>
          <ion-col *ngIf="userProfile?.grade">
            {{userProfile?.grade}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

  </ion-list>
  <ion-list>

    <ion-list-header>
      Account Information
    </ion-list-header>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p color="orangeYel">Email</p>
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.email">
            {{userProfile?.email}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    <ion-item>
      <ion-grid>
        <ion-row>
          <ion-col col-6>
            <p color="orangeYel">School</p>
          </ion-col>
          <ion-col col-6 *ngIf="userProfile?.schoolName">
            {{userProfile?.schoolName.replace("_"," ")}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>


  </ion-list>


  <button col-12 ion-button round color="orangeYel" (click)="logOut()">Logout</button>

  <button col-12 ion-button round color="danger" (click)="deleteUser()">Delete Account</button>

</ion-content>
