page-list-student {
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  ion-spinner * {
    align-items: center;
    stroke: #444;
    fill: #222;
  }
    
  h1 { 
    display: block;
    font-size: 2em;
    margin-top: 2em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
    font-weight: bold;
}
}
