// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";

@import "ionic.globals";


// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/




// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
    orangeYel: #ffe20c,
    editPage: #C6AF06,
    viewClassmate: #C6AF06,
    period1: #F5B48C,
period2: #F0AA7B,
period3: #EC9F6A,
period4: #E79559,
period5: #E38A47,
period6: #DE8036,
period7: #DA7525,
period8: #D56B14,
period9: #D16103,
period10: #A65008,
    settingsPage: #C6AF06,
    twitter: #1dcaff,
    instagram: #dd2a7b,
    snapchat: #fffc00
    
);

$text-input-md-highlight-color: #999;
$text-input-md-show-success-highlight:      false;
$text-input-md-show-error-highlight:        false;

$text-input-md-show-focus-highlight: false;
/// @prop - Color of the input highlight when valid
$text-input-highlight-color-valid:       #999 !default;

/// @prop - Color of the input highlight when invalid
$text-input-highlight-color-invalid:     #999 !default;

/// @prop - Color of the input placeholder
$text-input-placeholder-color:           #999 !default;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here




// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here




// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here




// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";


// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

$font-family-md-base: "Raleway";
$font-family-ios-base: "Raleway";
$font-family-wp-base: "Raleway";

@import "roboto";
@import "noto-sans";
